{
  "plugins": [
    [
      "babel-plugin-transform-es2015-classes",
      ["babel-plugin-transform-builtin-classes", {
        "build": "JSON.stringify(Object.getOwnPropertyNames(window).filter(name => /^[A-Z]/.test(name)).sort(), null, '  ')",
        "globals": [
          "AnalyserNode",
          "AnimationEvent",
          "AppBannerPromptResult",
          "ApplicationCache",
          "ApplicationCacheErrorEvent",
          "Array",
          "ArrayBuffer",
          "Attr",
          "Audio",
          "AudioBuffer",
          "AudioBufferSourceNode",
          "AudioContext",
          "AudioDestinationNode",
          "AudioListener",
          "AudioNode",
          "AudioParam",
          "AudioProcessingEvent",
          "AudioScheduledSourceNode",
          "BarProp",
          "BaseAudioContext",
          "BatteryManager",
          "BeforeInstallPromptEvent",
          "BeforeUnloadEvent",
          "BiquadFilterNode",
          "Blob",
          "BlobEvent",
          "Boolean",
          "BroadcastChannel",
          "ByteLengthQueuingStrategy",
          "CDATASection",
          "CSS",
          "CSSConditionRule",
          "CSSFontFaceRule",
          "CSSGroupingRule",
          "CSSImportRule",
          "CSSKeyframeRule",
          "CSSKeyframesRule",
          "CSSMediaRule",
          "CSSNamespaceRule",
          "CSSPageRule",
          "CSSRule",
          "CSSRuleList",
          "CSSStyleDeclaration",
          "CSSStyleRule",
          "CSSStyleSheet",
          "CSSSupportsRule",
          "CSSViewportRule",
          "Cache",
          "CacheStorage",
          "CanvasCaptureMediaStreamTrack",
          "CanvasGradient",
          "CanvasPattern",
          "CanvasRenderingContext2D",
          "ChannelMergerNode",
          "ChannelSplitterNode",
          "CharacterData",
          "ClientRect",
          "ClientRectList",
          "ClipboardEvent",
          "CloseEvent",
          "Comment",
          "CompositionEvent",
          "ConstantSourceNode",
          "ConvolverNode",
          "CountQueuingStrategy",
          "Credential",
          "CredentialsContainer",
          "Crypto",
          "CryptoKey",
          "CustomElementRegistry",
          "CustomEvent",
          "DOMError",
          "DOMException",
          "DOMImplementation",
          "DOMParser",
          "DOMStringList",
          "DOMStringMap",
          "DOMTokenList",
          "DataTransfer",
          "DataTransferItem",
          "DataTransferItemList",
          "DataView",
          "Date",
          "DelayNode",
          "DeviceMotionEvent",
          "DeviceOrientationEvent",
          "Document",
          "DocumentFragment",
          "DocumentType",
          "DragEvent",
          "DynamicsCompressorNode",
          "Element",
          "Error",
          "ErrorEvent",
          "EvalError",
          "Event",
          "EventSource",
          "EventTarget",
          "FederatedCredential",
          "File",
          "FileList",
          "FileReader",
          "Float32Array",
          "Float64Array",
          "FocusEvent",
          "FontFace",
          "FontFaceSetLoadEvent",
          "FormData",
          "Function",
          "GainNode",
          "Gamepad",
          "GamepadButton",
          "GamepadEvent",
          "HTMLAllCollection",
          "HTMLAnchorElement",
          "HTMLAreaElement",
          "HTMLAudioElement",
          "HTMLBRElement",
          "HTMLBaseElement",
          "HTMLBodyElement",
          "HTMLButtonElement",
          "HTMLCanvasElement",
          "HTMLCollection",
          "HTMLContentElement",
          "HTMLDListElement",
          "HTMLDataListElement",
          "HTMLDetailsElement",
          "HTMLDialogElement",
          "HTMLDirectoryElement",
          "HTMLDivElement",
          "HTMLDocument",
          "HTMLElement",
          "HTMLEmbedElement",
          "HTMLFieldSetElement",
          "HTMLFontElement",
          "HTMLFormControlsCollection",
          "HTMLFormElement",
          "HTMLFrameElement",
          "HTMLFrameSetElement",
          "HTMLHRElement",
          "HTMLHeadElement",
          "HTMLHeadingElement",
          "HTMLHtmlElement",
          "HTMLIFrameElement",
          "HTMLImageElement",
          "HTMLInputElement",
          "HTMLLIElement",
          "HTMLLabelElement",
          "HTMLLegendElement",
          "HTMLLinkElement",
          "HTMLMapElement",
          "HTMLMarqueeElement",
          "HTMLMediaElement",
          "HTMLMenuElement",
          "HTMLMetaElement",
          "HTMLMeterElement",
          "HTMLModElement",
          "HTMLOListElement",
          "HTMLObjectElement",
          "HTMLOptGroupElement",
          "HTMLOptionElement",
          "HTMLOptionsCollection",
          "HTMLOutputElement",
          "HTMLParagraphElement",
          "HTMLParamElement",
          "HTMLPictureElement",
          "HTMLPreElement",
          "HTMLProgressElement",
          "HTMLQuoteElement",
          "HTMLScriptElement",
          "HTMLSelectElement",
          "HTMLShadowElement",
          "HTMLSlotElement",
          "HTMLSourceElement",
          "HTMLSpanElement",
          "HTMLStyleElement",
          "HTMLTableCaptionElement",
          "HTMLTableCellElement",
          "HTMLTableColElement",
          "HTMLTableElement",
          "HTMLTableRowElement",
          "HTMLTableSectionElement",
          "HTMLTemplateElement",
          "HTMLTextAreaElement",
          "HTMLTitleElement",
          "HTMLTrackElement",
          "HTMLUListElement",
          "HTMLUnknownElement",
          "HTMLVideoElement",
          "HashChangeEvent",
          "Headers",
          "History",
          "IDBCursor",
          "IDBCursorWithValue",
          "IDBDatabase",
          "IDBFactory",
          "IDBIndex",
          "IDBKeyRange",
          "IDBObjectStore",
          "IDBOpenDBRequest",
          "IDBRequest",
          "IDBTransaction",
          "IDBVersionChangeEvent",
          "IIRFilterNode",
          "IdleDeadline",
          "Image",
          "ImageBitmap",
          "ImageBitmapRenderingContext",
          "ImageCapture",
          "ImageData",
          "Infinity",
          "InputDeviceCapabilities",
          "Int16Array",
          "Int32Array",
          "Int8Array",
          "IntersectionObserver",
          "IntersectionObserverEntry",
          "Intl",
          "JSON",
          "KeyboardEvent",
          "Location",
          "MIDIAccess",
          "MIDIConnectionEvent",
          "MIDIInput",
          "MIDIInputMap",
          "MIDIMessageEvent",
          "MIDIOutput",
          "MIDIOutputMap",
          "MIDIPort",
          "Map",
          "Math",
          "MediaDeviceInfo",
          "MediaDevices",
          "MediaElementAudioSourceNode",
          "MediaEncryptedEvent",
          "MediaError",
          "MediaKeyMessageEvent",
          "MediaKeySession",
          "MediaKeyStatusMap",
          "MediaKeySystemAccess",
          "MediaKeys",
          "MediaList",
          "MediaQueryList",
          "MediaQueryListEvent",
          "MediaRecorder",
          "MediaSettingsRange",
          "MediaSource",
          "MediaStream",
          "MediaStreamAudioDestinationNode",
          "MediaStreamAudioSourceNode",
          "MediaStreamEvent",
          "MediaStreamTrack",
          "MediaStreamTrackEvent",
          "MessageChannel",
          "MessageEvent",
          "MessagePort",
          "MimeType",
          "MimeTypeArray",
          "MouseEvent",
          "MutationEvent",
          "MutationObserver",
          "MutationRecord",
          "NaN",
          "NamedNodeMap",
          "NavigationPreloadManager",
          "Navigator",
          "Node",
          "NodeFilter",
          "NodeIterator",
          "NodeList",
          "Notification",
          "Number",
          "Object",
          "OfflineAudioCompletionEvent",
          "OfflineAudioContext",
          "Option",
          "OscillatorNode",
          "PageTransitionEvent",
          "PannerNode",
          "PasswordCredential",
          "Path2D",
          "Performance",
          "PerformanceEntry",
          "PerformanceLongTaskTiming",
          "PerformanceMark",
          "PerformanceMeasure",
          "PerformanceNavigation",
          "PerformanceNavigationTiming",
          "PerformanceObserver",
          "PerformanceObserverEntryList",
          "PerformanceResourceTiming",
          "PerformanceTiming",
          "PeriodicWave",
          "PermissionStatus",
          "Permissions",
          "PhotoCapabilities",
          "Plugin",
          "PluginArray",
          "PointerEvent",
          "PopStateEvent",
          "Presentation",
          "PresentationAvailability",
          "PresentationConnection",
          "PresentationConnectionAvailableEvent",
          "PresentationConnectionCloseEvent",
          "PresentationConnectionList",
          "PresentationReceiver",
          "PresentationRequest",
          "ProcessingInstruction",
          "ProgressEvent",
          "Promise",
          "PromiseRejectionEvent",
          "Proxy",
          "PushManager",
          "PushSubscription",
          "PushSubscriptionOptions",
          "RTCCertificate",
          "RTCDataChannel",
          "RTCDataChannelEvent",
          "RTCIceCandidate",
          "RTCPeerConnection",
          "RTCPeerConnectionIceEvent",
          "RTCRtpContributingSource",
          "RTCRtpReceiver",
          "RTCSessionDescription",
          "RTCStatsReport",
          "RadioNodeList",
          "Range",
          "RangeError",
          "ReadableStream",
          "ReferenceError",
          "Reflect",
          "RegExp",
          "RemotePlayback",
          "Request",
          "Response",
          "SVGAElement",
          "SVGAngle",
          "SVGAnimateElement",
          "SVGAnimateMotionElement",
          "SVGAnimateTransformElement",
          "SVGAnimatedAngle",
          "SVGAnimatedBoolean",
          "SVGAnimatedEnumeration",
          "SVGAnimatedInteger",
          "SVGAnimatedLength",
          "SVGAnimatedLengthList",
          "SVGAnimatedNumber",
          "SVGAnimatedNumberList",
          "SVGAnimatedPreserveAspectRatio",
          "SVGAnimatedRect",
          "SVGAnimatedString",
          "SVGAnimatedTransformList",
          "SVGAnimationElement",
          "SVGCircleElement",
          "SVGClipPathElement",
          "SVGComponentTransferFunctionElement",
          "SVGDefsElement",
          "SVGDescElement",
          "SVGDiscardElement",
          "SVGElement",
          "SVGEllipseElement",
          "SVGFEBlendElement",
          "SVGFEColorMatrixElement",
          "SVGFEComponentTransferElement",
          "SVGFECompositeElement",
          "SVGFEConvolveMatrixElement",
          "SVGFEDiffuseLightingElement",
          "SVGFEDisplacementMapElement",
          "SVGFEDistantLightElement",
          "SVGFEDropShadowElement",
          "SVGFEFloodElement",
          "SVGFEFuncAElement",
          "SVGFEFuncBElement",
          "SVGFEFuncGElement",
          "SVGFEFuncRElement",
          "SVGFEGaussianBlurElement",
          "SVGFEImageElement",
          "SVGFEMergeElement",
          "SVGFEMergeNodeElement",
          "SVGFEMorphologyElement",
          "SVGFEOffsetElement",
          "SVGFEPointLightElement",
          "SVGFESpecularLightingElement",
          "SVGFESpotLightElement",
          "SVGFETileElement",
          "SVGFETurbulenceElement",
          "SVGFilterElement",
          "SVGForeignObjectElement",
          "SVGGElement",
          "SVGGeometryElement",
          "SVGGradientElement",
          "SVGGraphicsElement",
          "SVGImageElement",
          "SVGLength",
          "SVGLengthList",
          "SVGLineElement",
          "SVGLinearGradientElement",
          "SVGMPathElement",
          "SVGMarkerElement",
          "SVGMaskElement",
          "SVGMatrix",
          "SVGMetadataElement",
          "SVGNumber",
          "SVGNumberList",
          "SVGPathElement",
          "SVGPatternElement",
          "SVGPoint",
          "SVGPointList",
          "SVGPolygonElement",
          "SVGPolylineElement",
          "SVGPreserveAspectRatio",
          "SVGRadialGradientElement",
          "SVGRect",
          "SVGRectElement",
          "SVGSVGElement",
          "SVGScriptElement",
          "SVGSetElement",
          "SVGStopElement",
          "SVGStringList",
          "SVGStyleElement",
          "SVGSwitchElement",
          "SVGSymbolElement",
          "SVGTSpanElement",
          "SVGTextContentElement",
          "SVGTextElement",
          "SVGTextPathElement",
          "SVGTextPositioningElement",
          "SVGTitleElement",
          "SVGTransform",
          "SVGTransformList",
          "SVGUnitTypes",
          "SVGUseElement",
          "SVGViewElement",
          "Screen",
          "ScreenOrientation",
          "ScriptProcessorNode",
          "SecurityPolicyViolationEvent",
          "Selection",
          "ServiceWorker",
          "ServiceWorkerContainer",
          "ServiceWorkerRegistration",
          "Set",
          "ShadowRoot",
          "SharedWorker",
          "SiteBoundCredential",
          "SourceBuffer",
          "SourceBufferList",
          "SpeechSynthesisEvent",
          "SpeechSynthesisUtterance",
          "StereoPannerNode",
          "Storage",
          "StorageEvent",
          "StorageManager",
          "String",
          "StyleSheet",
          "StyleSheetList",
          "SubtleCrypto",
          "Symbol",
          "SyncManager",
          "SyntaxError",
          "TaskAttributionTiming",
          "Text",
          "TextDecoder",
          "TextEncoder",
          "TextEvent",
          "TextMetrics",
          "TextTrack",
          "TextTrackCue",
          "TextTrackCueList",
          "TextTrackList",
          "TimeRanges",
          "Touch",
          "TouchEvent",
          "TouchList",
          "TrackEvent",
          "TransitionEvent",
          "TreeWalker",
          "TypeError",
          "UIEvent",
          "URIError",
          "URL",
          "URLSearchParams",
          "Uint16Array",
          "Uint32Array",
          "Uint8Array",
          "Uint8ClampedArray",
          "VTTCue",
          "ValidityState",
          "WaveShaperNode",
          "WeakMap",
          "WeakSet",
          "WebAssembly",
          "WebGL2RenderingContext",
          "WebGLActiveInfo",
          "WebGLBuffer",
          "WebGLContextEvent",
          "WebGLFramebuffer",
          "WebGLProgram",
          "WebGLQuery",
          "WebGLRenderbuffer",
          "WebGLRenderingContext",
          "WebGLSampler",
          "WebGLShader",
          "WebGLShaderPrecisionFormat",
          "WebGLSync",
          "WebGLTexture",
          "WebGLTransformFeedback",
          "WebGLUniformLocation",
          "WebGLVertexArrayObject",
          "WebKitAnimationEvent",
          "WebKitCSSMatrix",
          "WebKitMutationObserver",
          "WebKitTransitionEvent",
          "WebSocket",
          "WheelEvent",
          "Window",
          "Worker",
          "WritableStream",
          "XMLDocument",
          "XMLHttpRequest",
          "XMLHttpRequestEventTarget",
          "XMLHttpRequestUpload",
          "XMLSerializer",
          "XPathEvaluator",
          "XPathExpression",
          "XPathResult",
          "XSLTProcessor"
        ]
      }]
    ]
  ]
}